* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

form{
  display: flex;
  gap: 1rem;
}

input,
button{
  padding: .5rem;
}

.Error {
  color: red;
}
